html {
    font-family: Helvetica, sans-serif;
}


nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: #333;
    color: white;
}

nav ul li {
    cursor: pointer;
    padding: 10px;
}

nav ul li:hover {
    background-color: #555;
}

#service, #about, #contact, #logged {
    height: 500px;
    font-family: sans-serif;
    padding-top: 50px;
    text-align: center;
}

h1, h2,h3, #login, #wlcmsg {
    text-align: center;
}

.action-buttons button {
    padding: 20px;
    margin: 20px 20px;
}

