/* General styles */
html, body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

/* Topbar styles */
#topbar {
    background-color: #1977cc;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: top 0.3s;
}

#topbar .contact-info i, 
#topbar .social-links a {
    color: white;
    margin-right: 50px;
    
}

#topbar .social-links a:hover {
    color: #f8f9fa;
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f9fa; /* Near white background */
    color: #343a40; /* Dark grey text */
    position: fixed;
    top: 40px; /* Initially positioned below the topbar */
    width: 100%;
    z-index: 999;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Slight shadow for depth */
    transition: top 0.3s;
}

.logo .navbar-brand {
    font-size: 24px;
    color: #343a40; /* Dark grey for brand */
    text-decoration: none;
    font-weight: bold;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0 20px;
}

.nav-menu li a {
    color: #343a40; /* Grey for links */
    text-decoration: none;
    padding: 10px 15px;
    transition: color 0.3s, background-color 0.3s;
}

.nav-menu li a:hover {
    color: #1977cc; /* Blue on hover */
    background-color: rgba(25, 119, 204, 0.1); /* Light blue background on hover */
    border-radius: 5px;
}


/* Button styles for Login and Register */
.btn {
    padding: 0 16px;
    margin-right: 5px;
    border-radius: 5px;
    font-size: 14px;
    text-align: center;
    background-color: #83b5e0;
    color: white;
    font-style: italic;
    border: 1px solid white;
}


.btn-login:hover, .btn-register:hover {
    background-color: transparent;
    color: #1977cc;
    border: 1px solid #1977cc;
}

.logo a {
    color: #444444;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
}

.logo a:hover {
    color: #1977cc;
}

/* Adjust the container to accommodate the fixed navbar and topbar */
.app-container {
    margin-top: 100px; /* Adjust based on the height of topbar and navbar */
}

/* Hero Section */
#hero {
    background-image: url('./img/hero-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

#hero h1 {
    font-size: 48px;
    margin: 0 15px;
}

#hero p {
    font-size: 24px;
    padding-top: 7px;
}

/* About Us Section */
#about {
    background-image: url('./img/about.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
    padding: 50px 20px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#about h2 {
    margin-bottom: 20px;
    font-size: 32px;
}

#about p {
    font-size: 20px;
    max-width: 800px;
    margin: auto;
}

/* Services Section */
#services {
    background-image: url('./img/departments-1.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
    padding: 50px 20px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#services h2 {
    margin-bottom: 20px;
    font-size: 32px;
}

#services p {
    font-size: 20px;
    max-width: 800px;
    margin: auto;
}

/* Contact Us Section */
#contact {
    background-image: url('./img/departments-3.jpg');
    background-size: cover;
    background-position: center;
    height: 700px;
    padding: 50px 20px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Footer */
.app-footer {
    background-color: #f8f9fa;
    color: #343a40;
    text-align: center;
    padding: 20px;
    bottom: 0;
    width: 100%;
}
